body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p{
    color:#666;
}
h2{
    font-size: 2em;
    color:  #0536a1;
    text-align: center;
}
.cview{
    margin:0 auto;
    padding:0 1em;
}
@media screen and(min-width:52em) {
    .cview{
        max-width: 52em;
    }
    
}
.heading{
    background: #0536a1;
    box-shadow: 3px 3px 8px hsl(0,0%,70%);
}
.sview {
    margin: 0 0 1em;
    padding: 1em 0;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    color: black;
}

@media screen and (min-width: 44.44em) {
    .sview {
        font-size: 2em;
    }
}
    
@media screen and (min-width: 50em) {
    .sview {
        font-size: 2.5em;
    }
}

.sview a {
    color: hsl(5, 45%, 95%);
    text-decoration: none;
}

.sview a:hover {
    text-decoration: underline;
}
body {
    background: #ecf0f1;
    line-height: 1.4;
  }
  
  .sview {
      color: white;
  }
  
  .card {
      background: white;
      margin-bottom: 2em;	
  }
  
  .card a {
      color: black;
      text-decoration: none;
  }
  
  .card a:hover {
      box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
  }
  
  .card-content {
      padding: 1.4em;
  }
  
  .card-content h2 {
      margin-top: 0;
      margin-bottom: .5em;
      font-weight: normal;
  }
  
  .card-content p {
      font-size: 95%;
  }
  
  img {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    display: block;
    padding-top: 10px;
    
  }
  
  
  @media screen and (min-width: 40em) {  
    .cards {
      margin-top: -1em;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  
    .card {
      margin-bottom: 1em;
      display: flex;
      flex: 0 1 calc(50% - 0.5em);
    }
  } 
  
  @media screen and (min-width: 60em) {
    .cards {
      margin-top: inherit;
    }
    
    .card {
      margin-bottom: 2em;
      display: flex;
      flex: 0 1 calc(33% - 0.5em);
    }
}